body{
	background-image: url("images/bk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

iframe{
	margin-top: 20px;
}

a{
	color: #fff;
}

.floating-button {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
	background-color: #000;
    border: 2px solid #FFD700;  
}

.container{
	background-color: #111;
	color: #fff;
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

.goright{
	margin-left: 90%;
	margin-top: 25px;
}

.goleft{
	margin-left: 5%;
	margin-top: -35px;
}

#login{
	background-image: url("images/key.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}